@model Velzon.Data.Models.User

<span class="d-flex align-items-center">
    <img class="rounded-circle header-profile-user" src="~/assets/images/users/avatar-1.jpg" alt="Header Avatar">
    <span class="text-start ms-xl-2">
        <span class="d-none d-xl-inline-block ms-1 fw-medium user-name-text">
            @Model.FirstName @Model.LastName
        </span>
        <span class="d-none d-xl-block ms-1 fs-12 text-muted user-name-sub-text">
            @User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value
        </span>
    </span>
</span>
